@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #052148;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.main-content {
  margin-top: 80px;
  flex: 1;
  overflow: auto;
}

.bg-custom-color {
  background-color: #8b9097;
}

.btn {
  color: #03e9f4;
  transition: color 0.3s, text-shadow 0.3s;
  text-decoration: none;
}

.btn:hover {
  color: white;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.btm {
  background-color: #1f2937;
  color: #03e9f4;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'Racing Sans One', sans-serif;
}

.btm:hover {
  color: white;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.btp {
  background-color: #1f2937;
  color: #03e9f4;
  font-size: 15px;
  border: 2px solid #03e9f4;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 50px;
}

.btp:hover {
  background-color: #03e9f4;
  color: white;
  transition: background-color 0.1s, color 0.1s;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 35px;
}

:root {
  --bg-custom-color: #03e9f4;
}

.social-link,
.link {
  color: #03e9f4;
  transition: color 0.3s, text-shadow 0.3s;
  text-decoration: none;
}

.social-link:hover,
.link:hover {
  color: white;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.featured-card {
  background-color: #1e293b;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.featured-card .image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.featured-card .featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.featured-card .price {
  padding-top: 1rem;
}

@media (max-width: 767px) {
  .featured-card {
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4b5563;
  }

  .featured-card .image-container {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .featured-card {
    max-width: 425px;
    max-height: 500px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4b5563;
  }

  .featured-card .image-container {
    height: 200px;
  }
}

.hover-box-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.title-color {
  color: #ffffff;
}

@layer utilities {
  .boxshadow {
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px;
  }
}

.linka {
  @apply text-[#03e9f4] tracking-[4px] text-[10px] border-2 border-[#03e9f4] rounded-lg p-2 w-full text-sm font-bold;
}

.linka:hover {
  @apply text-white bg-[#03e9f4];
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

.slick-prev:before,
.slick-next:before {
  color: #03e9f4;
  display: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.car-container:hover {
  border-color: #03e9f4;
  transform: scale(0.99);
  transition: transform 0.7s ease;
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

.car-info {
  @apply text-[#03e9f4] border-2 border-[#03e9f4] text-sm font-bold rounded-lg;
}

.car-info:hover {
  @apply text-white bg-[#03e9f4];
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.carousel-container {
  position: relative;
  width: 1200px;
  height: 600px;
  overflow: hidden;
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-show {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade 1.5s ease-in-out;
}

.carousel-show > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-not-show {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .carousel-container {
    width: 100%;
    height: 255px;
  }

  .carousel-show > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.demo-gallery {
  position: relative;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
}

.gallery-img {
  width: 100%;
  border-color: 10px #03e9f4;
  margin: 5px auto;
  opacity: 0.9;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #4b5563;
}

.gallery-img:hover {
  transform: scale(0.95);
  opacity: 1;
  border-color: #03e9f4;
  box-shadow: 0 0 60px rgba(3, 233, 244, 0.5);
}

@media all and (min-width: 768px) {
  .gallery-img {
    width: calc(50% - 10px);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  z-index: 1001;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 20px;
}

.modal-close-button {
  @apply text-[#03e9f4] border-2 border-[#03e9f4] text-sm font-bold rounded;
  padding: 8px 16px;
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s, background-color 0.3s;
}

.modal-close-button:hover {
  @apply text-white bg-[#03e9f4];
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

.service-image {
  width: 400px;
  height: 250px;
  transition: transform 0.2s ease-in-out;
}

.service-image:hover {
  transform: scale(1.1);
}

.hero-heading {
  font-family: 'Racing Sans One', cursive;
  font-size: 2.7rem;
  text-align: center;
  color: #03e9f4;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 15px;
  white-space: nowrap;
  margin-top: 80px;
}

@media (min-width: 480px) {
  .hero-heading {
    font-size: 3rem;
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  .hero-heading {
    font-size: 4rem;
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .hero-heading {
    font-size: 5rem;
    margin-top: 3.5rem;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  z-index: 1001;
}

.chatbox-input-container {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: #1e293b;
  margin-top: 5px;
}

.chat-send-btn {
  color: #03e9f4;
  border: 2px solid #03e9f4;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  width: auto;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
}

.chat-send-btn:hover {
  color: white;
  background-color: #03e9f4;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

@media (max-width: 767px) {
  .ReactModal__Content {
    max-width: 70%;
    max-height: 65%;
    padding: 15px;
  }

  .chat-send-btn {
    color: #03e9f4;
    margin-top: 5px;
    border: 2px solid #03e9f4;
    background-color: transparent;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.7s ease, box-shadow 0.7s ease,
      background-color 0.7s ease;
  }

  .chat-send-btn:hover {
    color: white;
    background-color: #03e9f4;
    box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
  }

  .square-button {
    width: 114px;
    height: 36px;
    border-radius: 8px;
    border: 2px solid #0ef;
    color: #0ef;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: background-color 0.3s, color 0.3s;
    padding: 0 8px;
    margin-top: 45px;
  }

  .square-button:hover {
    background-color: #0ef;
    color: #fff;
  }

  .icon {
    font-size: 1.25rem;
  }

  .button-text {
    font-size: 0.675rem;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #052148;
    background-attachment: fixed;
    overflow-x: hidden;
    touch-action: manipulation;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .chat-icon {
    bottom: 110px;
    right: 16px;
    width: 48px;
    height: 48px;
    background-color: #1e293b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .chat-icon:hover {
    background-color: #03e9f4;
    transform: scale(1.05);
  }

  .chatbox {
    bottom: 200px;
    right: 80px;
    width: 70vw;
    height: 40vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chatbox-input-container {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #1e293b;
  }

  .chatbox-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
    color: white;
    background-color: #374151;
    border: none;
    border-radius: 4px;
    margin-top: 6px;
  }

  .linka {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
  }
}

.linka {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.chat-icon {
  animation: pulse 1.5s infinite;
  z-index: 1000;
}

.chatbox {
  animation: fade-in 0.3s ease-in-out;
  transition: all 0.3s ease;
}

.linke {
  @apply text-[#03e9f4] tracking-[4px] text-[10px] border-2 border-[#03e9f4] rounded-lg p-2 w-full text-sm font-bold;
}

.linke:hover {
  @apply text-white bg-[#03e9f4];
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

.square-button {
  width: 114px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid #0ef;
  color: #0ef;
  font-weight: bold;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: background-color 0.3s, color 0.3s;
  padding: 0 8px;
  margin-top: 45px;
}

.square-button:hover {
  background-color: #0ef;
  color: #fff;
}

.icon {
  font-size: 1.25rem;
}

.button-text {
  font-size: 0.675rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.chat-icon {
  animation: pulse 1.5s infinite;
  z-index: 1000;
  bottom: 100px;
  border-radius: 50%;
}

.chatbox {
}

.linke {
  @apply text-[#03e9f4] tracking-[4px] text-[10px] border-2 border-[#03e9f4] rounded-lg p-2 w-full text-sm font-bold;
}

.linke:hover {
  @apply text-white bg-[#03e9f4];
  transition: border-color 0.7s ease, box-shadow 0.7s ease,
    background-color 0.7s ease;
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}

.chatbox {
  position: fixed;
  bottom: 200px;
  right: 100px;
  width: 400px;
  height: 500px;
  background-color: #1e293b;
  border: 1px solid #03e9f4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.chatbox .chatbox-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatbox .chatbox-messages .message {
  max-width: 80%;
  margin-bottom: 10px;
  word-break: break-word;
}

.chatbox .chatbox-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #374151;
}

.chatbox .chatbox-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: #1f2937;
  border: none;
  border-radius: 4px;
}

.chat-icon {
  @apply fixed bottom-4 right-24 bg-[#1e293b] text-[#03e9f4] border-2 border-[#03e9f4] rounded-full p-2 w-12 h-12 shadow-lg flex justify-center items-center;
  transition: border-color 0.7s ease, box-shadow 0.7s ease, background-color 0.7s ease;
}

.chat-icon:hover {
  @apply text-white bg-[#03e9f4];
  box-shadow: 0 0 25px rgba(3, 233, 244, 0.5);
}


@media (max-width: 767px) {
  .chatbox {
    top: 300px;
    right: 20px;
    width: 89vw;
    height: 39vh;
  }

  .chatbox .chatbox-messages {
    padding: 9px;
  }

  .chatbox .chatbox-input {
    padding: 9px;
    font-size: 13px;
  }

  .chatbox .chat-send-btn {
    margin-left: 8px;
    padding: 5px 12px;
    font-size: 15px;
  }
  .chat-icon {
    bottom: 30px;
    right: 20px;
    width: 45px;
    height: 45px;
  }
}
